*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.left-panel{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 15vw;
  height: 85vh;
  background-color:#171b22;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.icon{
  margin-top: 1rem;
  display: flex;
  gap: 0.3rem;
  font-family: cursive;
  color: orangered;
}

.side-bar{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-menu{
  gap: 0.5rem;
  color:grey;
  width: 10rem;
  display: flex;
  justify-content: center;
}

.playlist{
  margin-left: 0.8rem;
}
.side-icon{
  font-size: 1.6rem;
}

.side-label{
  margin-top: 0.2rem;
}

.caret{
  font-size: 0.6rem;
  margin-top: 0.8rem;
}

.right-panel{
  height: 87vh;
  width: 85vw;
}

.conatiner2{
  width: 100vw;
}

.footer-panel{
  display: none;
  width: 100vw;
  background-color: #171b22;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.side-menu:hover{
  background-color:#272e3c;
  border-radius: 1rem;
  padding:0.8rem;
  cursor: pointer;
}

.right-panel-top{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


.search-field{
  width:30rem;
  height: 2.5rem;
  margin-left: 5rem;
  background-color: #272e3c;
  border: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  text-align: center;
}

.top-icon{
  color: azure;
  font-size: 2.5rem;
}

.top-side-panel{
  display: flex;
  gap:2rem;
}

.search-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-icon{
  background-color: aliceblue;
  padding: 0.68rem;
  background-color: #272e3c;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: grey
}

.glass:hover{

  border: 1 px solid white;
}
.play-controls{
  display: flex;
  gap:1rem;
  color:grey;
  font-size: 1.3rem;
}

.album-art{
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
}

.album-info{
  display: flex;
  align-items: center;
  width: 20vw;
}

.song-info{
  margin-left: 0.7rem;
}


.album-info span{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(224, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
}


.album-info p{
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 100;
  color:grey;
}

.song-listings{
  margin-left: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: grey;
  gap: 0.5rem;
}

audio{
 background: transparent;
}

.song-item:hover{
  color: azure;
  cursor: pointer;
} 


.current-running-album{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 72vh;
 
}

.album-display img{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  animation: rotate 75s linear infinite; 
}

.album-para{
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
}

.singerName{
  color: grey;
  font-size: 1.5rem;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
