*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.left-panel{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 15vw;
  height: 85vh;
  background-color:#171b22;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.icon{
  margin-top: 1rem;
  display: flex;
  gap: 0.3rem;
  font-family: cursive;
  color: white;
}

.side-bar{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-menu{
  gap: 0.5rem;
  color:grey
}

.side-icon{
  font-size: 1.6rem;
}

.side-label{
  margin-top: 0.2rem;
}

.caret{
  font-size: 0.6rem;
  margin-top: 0.8rem;
}

.right-panel{
  height: 90vh;
}

.conatiner2{
  width: 100vw;
}

.footer-panel{
  width: 100vw;
  background-color: #171b22;
  position: relative;
  z-index: -2;
  top: 5.5rem;
  height: 11vh;
  width: 182.3vw;
}

